@media screen and (max-width: 520px) {
    body {
        max-width: 100%;
        overflow-x: hidden;
    }

    p {
        font-size: 12px;
    }

    #head {
        padding: 10px;
        height: 200px;
    }

    .main_header {
        width: 100%;
    }

    .header_cta {
        display: none;
    }

    .header_nav {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        position: fixed;
        top: 0px;
        right: 0;
        background: #fff;
        width: 60%;
        height: 550px;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
        transform: scaleX(0);
        transform-origin: right;
        z-index: 9999;
        border-radius: 10px;
    }

    .menu,
    .close_menu {
        display: block;
    }

    .close_menu {
        position: absolute;
        top: 20px;
        right: 15px;
    }

    #open_menu {
        display: none;
    }

    #open_menu:checked+.header_nav {
        transform: scaleX(1);
    }

    .sidebar_logo {
        position: absolute;
        width: 100%;
        top: 0;
    }

    .header_nav .logo {
        display: block;
        padding: 20px;
    }

    .header_nav .header_cta {
        display: block;
        position: absolute;
        bottom: 15px;
        padding: 0 10px;
    }

    .header_nav .header_cta button {
        width: 100%;
        margin-bottom: 10px;
    }

    .header_nav .header_cta .sign_in {
        background: var(--text_color);
        color: #fff;
        border-radius: 10px;
    }

    .header_nav ul {
        position: absolute;
        top: 90px;
        width: 100%;
        padding: 10px;
        text-align: center;
    }

    .header_nav ul li {
        display: block;
        width: 100%;
        padding: 5px 10px;
        background: var(--btn_color);
        margin-bottom: 5px;
        border-radius: 10px;
        margin-right: 0;
    }

    .header_nav ul li a {
        color: #fff;
    }

    .header_nav ul li a i {
        display: none;
    }

    .top_illustration,
    .left_illustration,
    .right_illustration {
        display: none;
    }

    .main_content {
        width: 100%;
        text-align: center;
        top: 30px;
    }

    .main_content h1 {
        font-size: 18px;
        margin-bottom: 0;
    }

    .main_content p {
        width: 100%;
        font-size: 12px;
        margin: 15px auto;
    }

    .main_btns {
        width: 85%;
    }

    .btn {
        padding: 8px;
        font-size: 10px;
    }

    #brands {
        padding: 20px 0;
        margin-top: 20px;
    }

    #brands .title {
        font-size: 10px;
    }

    .brand_collection {
        flex-wrap: wrap;
        gap: 0 10px;
        margin-top: 20px;
    }

    .brand img {
        width: 45px;
        height: 20px;
    }

    #why_financy {
        padding: 0;
    }

    .section_head {
        width: 100%;
        margin-bottom: 45px;
    }

    .section_head span {
        font-size: 10px;
        margin-bottom: 0px;
    }

    .section_head h2 {
        font-size: 16px;
        line-height: 20px;
    }

    .financy {
        flex-direction: column;
        gap: 20px 0;
    }

    .financy_card {
        width: 100%;
        height: 200px;
    }

    .card_icon {
        top: -25px;
        width: 46px;
        height: 50px;
    }

    .card_icon img[alt="Card"],
    .card_icon img[alt="Sheild"] {
        width: 23px;
        height: 23px;
    }

    .card_icon img[alt="Cost"] {
        width: 27px;
        height: 27px;
    }

    .polygon {
        width: 98%;
        height: 164px;
    }

    .card_meta {
        width: 99%;
        height: 160px;
        padding: 45px 20px 20px;
    }

    .card_meta h3 {
        font-size: 14px;
    }

    .card_meta p {
        font-size: 12px;
    }

    #why_choose_us,
    #features {
        padding: 30px 15px;
    }

    #why_choose_us .section_head,
    #why_choose_us_2 .section_head,
    #features .section_head,
    .features_wrapper .section_head {
        text-align: center;
        width: 100%;
    }

    #why_choose_us .flex,
    #why_choose_us_2 .flex {
        flex-direction: column;
        gap: 0;
    }

    #why_choose_us .section_head h2,
    #why_choose_us_2 .section_head h2,
    #features .section_head h2 {
        line-height: 28px;
        margin-bottom: 5px;
    }

    #why_choose_us .section_head p,
    #why_choose_us_2 .section_head p,
    #features .section_head p,
    .features_wrapper .section_head p {
        font-size: 12px;
        padding-bottom: 14px;
        margin-bottom: 14px;
        width: 100%;
    }

    #why_choose_us .section_head ul {
        text-align: left;
        font-size: 13px;
    }

    .wcu_img {
        display: none;
    }

    .wcu_img_1 {
        display: block;
        width: 100%;
        position: relative;
        left: 50%;
        transform: translateX(-58%);
    }

    .wcu_img_1 img {
        width: 100%;
    }

    #why_choose_us_2 {
        padding: 0px 15px 30px;
    }

    .single_special_item {
        width: 100%;
        text-align: left;
        gap: 15px;
        margin-bottom: 0px;
    }

    .single_icon {
        width: 40px;
        height: 40px;
    }

    .single_icon img {
        width: 65%;
        height: 65%;
    }

    .special_meta {
        width: 80%;
    }

    .wcu_img_2 {
        width: 100%;
        position: relative;
        top: 25px;
        left: 50%;
        height: 235px;
        transform: translateX(-58%);
    }

    .wcu_img_2 img {
        width: 100%;
    }

    #features .section_head {
        margin-bottom: 0;
    }

    #features .section_head p {
        width: 100%;
    }

    .feature_cards {
        display: flex;
        flex-direction: column;
    }

    #features .feature_cards .polygon {
        width: 102%;
        height: 320px;
        text-align: center;
    }

    #features .feature_cards .polygon:nth-child(3),
    #features .feature_cards .polygon:last-child {
        height: 140px;
    }

    .feature_cards .polygon .card_meta {
        top: 1px;
        height: 99%;
    }

    .feature_cards .polygon .card_meta h4 {
        font-size: 18px;
    }

    .feature_cards .polygon .card_meta p {
        font-size: 12px;
    }

    .features_wrapper {
        flex-direction: column-reverse;
    }

    .features_wrapper .section_head h2 {
        margin-bottom: 10px;
    }

    .features_wrapper .section_head p {
        margin-bottom: 10px;
        padding-bottom: 0;
    }

    .features_img {
        flex: 300px;
    }

    #form {
        position: static;
        height: auto;
        text-align: center;
    }

    #form .circle_1_4 {
        position: inherit;
        display: none;
    }

    .form_wrapper {
        position: inherit;
        width: 90%;
        margin: 0 auto;
    }

    .cta_form {
        position: inherit;
        width: 100%;
        height: 450px;
        text-align: left;
    }

    #form h2 {
        position: inherit;
        width: auto;
        font-size: 28px;
        margin-bottom: 20px;
    }

    #form img[alt="vector 1"],
    #form img[alt="vector 2"],
    #form img[alt="Line"] {
        position: inherit;
        display: none;
    }

    .cta_btns {
        width: 56%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    #cta .section_head>p {
        font-size: 16px;
    }

    #footer {
        padding: 0 10px;
    }

    .footer_items {
        width: 100%;
        flex-direction: column;
    }

    .footer_meta {
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }

    .footer_logo {
        width: 100%;
        justify-content: center;
    }

    .footer_info {
        font-size: 16px;
    }

    .socials {
        margin: 0 auto;
    }

    .imp_links {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }

    .imp_links ul li span {
        font-size: 14px;
    }

    .imp_links ul li a {
        font-size: 12px;
    }

    .footer_cta {
        width: 100%;
        text-align: center;
    }

    .footer_cta input {
        width: 60%;
    }

    .footer_cta p {
        font-size: 14px;
    }

    .social_links {
        width: 100%;
        gap: 10px;
        font-size: 12px;
    }

    .copyright {
        width: 100%;
        font-size: 12px;
        gap: 20px;
    }

    .copyright span:not(.copy2022) {
        display: none;
    }
}