@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {

    /* Colors */

    --text_color: #1B1C31;
    --btn_color: #4F46BA;
    --title_color: #3734A9;
    --secondary_btn_color: #FF7F5C;
    --paragraph_color: #757095;

    /* Fonts */

    --font_regular: Gilroy-Regular;
    --font_medium: Gilroy-Medium;
    --font_bold: Gilroy-Bold;
    --font_semiBold: Gilroy-SemiBold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s;
}

body {
    background: #fff;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    color: #000;
}

section {
    padding: 45px 0;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}

.container {
    width: 96%;
    margin: 0 auto;
    max-width: 1235px;
}

.btn {
    flex: 1;
    padding: 20px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 900;
}

.text_center {
    text-align: center;
}

.flex {
    display: flex;
    justify-content: center;
    gap: 110px;
}

.circle_1_4 {
    width: 101px;
    height: 101px;
    border-top-right-radius: 100%;
    background: #FF7F5C;
}

.circle_3_4 {
    width: 41px;
    height: 41px;
    border-bottom-left-radius: 100%;
    background: #E8F2FF;
}

/* Head Section */

#head {
    background: url(../img/Header\ B.png);
    background-repeat: repeat-x;
    background-position: top center;
    height: 800px;
    padding-top: 30px;
}

.main_header {
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    flex: 1;
}

.logo a {
    font-family: var(--font_bold);
    color: #000;
    text-decoration: none;
}

#open_menu,
.menu,
.close_menu {
    display: none;
}

.header_nav {
    display: flex;
    flex: 2;
    justify-content: center;
}

.header_nav .logo {
    display: none;
}

.header_nav .header_cta {
    display: none;
}

.header_nav ul li {
    display: inline-block;
    padding: 10px 15px;
    margin-right: 20px;
}

.header_nav ul li:last-child {
    margin-right: 0;
}

.header_nav ul li a {
    font-family: var(--font_semiBold);
    font-size: 16px;
    color: #000;
    text-decoration: none;
}

.header_nav ul li a i {
    vertical-align: bottom;
}

.header_nav ul li:hover a {
    color: #3734A9;
}

.header_cta {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: 20px;
}

.sign_in {
    font-family: var(--font_semiBold);
    font-size: 16px;
    border: none;
    background: transparent;
    padding: 10px 25px;
}

.sign_in:hover {
    color: #4F46BA;
}

.sign_up {
    font-family: var(--font_semiBold);
    font-size: 16px;
    background: #4F46BA;
    color: #fff;
    padding: 17px 34px;
    border: none;
    border-radius: 10px;
}

.sign_up:hover {
    background: var(--text_color);
}

/* Main Content Area */

.hero {
    position: relative;
}

.hero .container {
    position: relative;
}

.top_illustration {
    position: absolute;
    right: 275px;
    top: 138px;
    width: 528px;
    height: 139px;
}

.mini_img {
    width: 80px;
    height: 80px;
    background: #ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: hidden;
}

.top_illustration .mini_img:first-child {
    top: 59px;
    overflow: visible;
    box-shadow: 0 25px 20px 0px rgba(0, 0, 0, 0.1);
}

.top_illustration .mini_img:nth-child(2) {
    top: 22px;
    left: 196px;
}

.frame {
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: -20px;
    right: -15px;
}

.mini_card {
    width: 263px;
    height: 88px;
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: 0 25px 20px 0px rgba(0, 0, 0, 0.1);
}

.mini_card h6 {
    font-weight: 900;
    font-size: 15px;
}

.mini_card span {
    font-size: 12px;
}

.top_illustration .mini_card {
    position: absolute;
    top: 0;
    right: 0;
}

.arrow {
    width: 47px;
    height: 47px;
    background: #f9faff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.top_illustration img[alt="connector"] {
    position: absolute;
    top: 60px;
    left: 75px;
    z-index: -1;
}

.main_content {
    position: absolute;
    left: 50%;
    top: 315px;
    transform: translate(-50%);
    text-align: center;
    width: 885px;
    margin: 0 auto;
}

.main_content h1 {
    font-size: 58px;
    font-weight: 800;
    color: var(--text_color);
    margin-bottom: 60px;
}

.main_content p {
    font-family: var(--font_regular);
    color: #64607D;
    width: 60%;
    margin: 35px auto;
}

.main_btns {
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 13px;
}

.get_started {
    background: var(--btn_color);
    color: #fff;
}

.get_started:hover {
    background: var(--text_color);
}

.demo_btn {
    background: #F7F9FB;
    color: var(--title_color);
}

.demo_btn:hover {
    color: var(--text_color);
    box-shadow: 0 10px 15px 0px rgba(0, 0, 0, 0.1);
}

.left_illustration {
    position: absolute;
    top: 191px;
    left: -75px;
    width: 308px;
    height: 495px;
}

.img_mini {
    position: absolute;
    width: 74px;
    height: 74px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}

.img_mini:first-child {
    top: 0;
    left: 0;
}

.img_mini:nth-child(2) {
    top: 161px;
    left: 0;
    overflow: visible;
    box-shadow: 0 25px 20px 0px rgba(0, 0, 0, 0.1);
}

.img_mini:nth-child(3) {
    top: 254px;
    left: 142px;
}

.dual_card {
    position: relative;
    background: #fff;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0 25px 20px 0px rgba(0, 0, 0, 0.1);
    top: 317px;
    left: 49px;
}

.dual_card .mini_card {
    box-shadow: none;
}

.dual_card .mini_card h6,
.dual_card .mini_card span {
    opacity: 0.3;
}

.left_illustration img[alt="connector"] {
    position: absolute;
    top: 74px;
    left: 37px;
    z-index: -1;
}

.right_illustration {
    position: absolute;
    top: 312px;
    right: -45px;
    width: 327px;
    height: 382px;
}

.right_illustration .mini_img:first-child {
    top: 0;
    right: 17px;
}

.right_illustration .mini_img:nth-child(2) {
    top: 126px;
    right: 91px;
    overflow: visible;
    box-shadow: 0 25px 20px 0px rgba(0, 0, 0, 0.1);
}

.right_illustration .mini_img:nth-child(3) {
    top: 262px;
    left: 0;
}

.right_illustration .mini_card {
    position: absolute;
    top: 294px;
    right: 0;
}

.right_illustration img[alt="connector"] {
    position: absolute;
    top: 40px;
    left: 37px;
    z-index: -1;
}

/* Brand Logo Area */

#brands {
    text-align: center;
    padding: 50px 0;
    margin-top: 100px;
}

#brands .title {
    font-family: var(--font_regular);
    font-size: 22px;
}

.brand_collection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
}

.brand {
    padding: 5px 10px;
    border-radius: 10px;
}

.brand:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.brand img {
    background: transparent;
}

/* Why Financy Area */

.section_head {
    width: 45%;
    margin: 0 auto 70px;
}

.section_head>span {
    display: inline-block;
    font-family: var(--font_bold);
    font-size: 18px;
    color: var(--title_color);
    margin-bottom: 20px;
}

.section_head h2 {
    font-size: 50px;
    font-weight: 800;
    line-height: 60px;
    margin-bottom: 25px;
}

.section_head>p {
    font-size: 18px;
    line-height: 26px;
    color: var(--paragraph_color);
}

.financy {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.financy_card {
    width: 365px;
    height: 241px;
    position: relative;
}

.card_icon {
    position: absolute;
    top: -40px;
    left: 30px;
    width: 76px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 100%, 0% 100%);
    z-index: 1;
}

.financy_card:first-child .card_icon {
    background: #E2E1FF;
}

.financy_card:nth-child(2) .card_icon {
    background: #FFEDE8;
}

.financy_card:last-child .card_icon {
    background: #D3FCFF;
}

.card_meta {
    position: relative;
    top: 1px;
    left: 2px;
    width: 365px;
    height: 241px;
    padding: 60px 30px 30px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 85% 100%, 0% 100%);
    background: #fff;
}

.polygon {
    position: relative;
    width: 369px;
    height: 245px;
    background: #E9E9E9;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 85% 100%, 0% 100%);
    z-index: -1;
}

.card_meta h3 {
    font-weight: 800;
    font-size: 24px;
    margin-bottom: 10px;
}

.card_meta p {
    font-size: 18px;
}

/* Why Choose Us Area */

#why_choose_us .flex {
    flex-direction: row-reverse;
}

#why_choose_us .section_head {
    width: 500px;
    margin: 0;
}

#why_choose_us .section_head>p {
    padding-bottom: 23px;
    margin-bottom: 28px;
    border-bottom: 1px solid #E6E6E6;
}

#why_choose_us_2 .section_head>p {
    width: 75%;
}

#why_choose_us .section_head ul {
    color: #505887;
    font-size: 19px;
    line-height: 30px;
}

#why_choose_us .section_head ul li {
    margin-bottom: 10px;
}

#why_choose_us .section_head ul li i {
    color: #FDBC64;
    margin-right: 5px;
}

.wcu_img_1 {
    display: none;
}

.wcu_img {
    position: relative;
    width: 570px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 39px 86px 23px 18px;
}

.shadow {
    width: 400px;
    height: 300px;
    filter: drop-shadow(0px 0px 70px rgba(0, 0, 0, 0.1));
}

.mini_stat {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
    margin-top: 20px;
    width: 100%;
}

.mini_stat .shadow {
    width: 220px;
    height: 115px;
}

.shadow .polygon {
    width: 100%;
    height: 100%;
}

.user_statics_1 {
    width: 100%;
    height: 100%;
    padding: 25px 20px;
    background: #fff;
}

.user_statics_1 h4 {
    margin-bottom: 30px;
}

.user_statics_1 span {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 15px;
}

.wcu_users {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.wcu_user_card {
    width: 56px;
    height: 86px;
    text-align: center;
}

.user_statics_1 .wcu_user_card span {
    font-size: 12px;
}

.user_statics_2 {
    background: #fff;
    padding: 10px 15px;
}

.user_statics_2 span {
    display: inline-block;
    font-size: 12px;
    margin-bottom: 10px;
}

.amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.amount h6 {
    font-size: 22px;
    font-weight: 400;
}

.amount span {
    display: inline-block;
    font-size: 14px;
    font-weight: 900;
    margin-bottom: 0;
    color: #FDBC64;
}

.mini_stat .shadow:last-child .user_statics_2 .amount span {
    color: var(--title_color);
}

.wcu_img img[alt="BG Pattern"] {
    position: absolute;
    top: -45px;
    left: 55px;
}

.wcu_img img[alt="Spring Left"] {
    position: absolute;
    top: 150px;
    left: 45px;
}

.wcu_img img[alt="Spring Right"] {
    position: absolute;
    top: 275px;
    right: 0;
}

.wcu_img .circle_1_4 {
    position: absolute;
    top: -10px;
    right: 40px;
    z-index: -1;
}

.wcu_img .circle_3_4 {
    position: absolute;
    bottom: 5px;
    left: 0;
    z-index: -1;
}

/* Why Choose Us 2 */

#why_choose_us_2 .section_head {
    width: 50%;
    margin: 0;
}

#why_choose_us_2 .flex {
    gap: 0;
}

.single_icon {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.single_special_item:first-child .single_icon {
    background: var(--secondary_btn_color);
}

.single_special_item:nth-child(2) .single_icon {
    background: var(--title_color);
}

.single_special_item:last-child .single_icon {
    background: #00E1F0;
}

.single_special_item {
    width: 95%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    gap: 30px;
}

.single_special_item:last-child {
    margin-bottom: 0;
}

.special_meta {
    width: 60%;
}

.special_meta span {
    display: inline-block;
    font-weight: 900;
    margin-bottom: 10px;
}

.special_meta p {
    font-size: 14px;
    line-height: 24px;
    color: var(--paragraph_color);
}

.wcu_img_2 {
    width: 50%;
    height: 700px;
}

.wcu_img_2 img {
    width: 100%;
}

/* Features Area */

#features .section_head {
    width: 60%;
    margin: 0 0 70px;
}

#features .section_head p {
    width: 60%;
}

.feature_cards {
    display: grid;
    grid-template-columns: repeat(6, 170px);
    grid-template-rows: repeat(2, 159px);
    gap: 30px;
    justify-content: space-between;
}

.feature_cards .polygon {
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 85% 100%, 0% 100%);
}

.feature_cards .polygon .card_meta {
    width: 99%;
    height: 99%;
    top: 2px;
    left: 2px;
    padding: 40px 30px;
}

.feature_cards .polygon:first-child,
.feature_cards .polygon:nth-child(2),
.feature_cards .polygon:nth-child(3),
.feature_cards .polygon:last-child {
    width: 100%;
    height: 100%;
}

.feature_cards .polygon:nth-child(3) .card_meta,
.feature_cards .polygon:last-child .card_meta {
    height: 98%;
}


.feature_cards .polygon:first-child {
    grid-column: 1 / span 2;
    grid-row: 1/ span 2;
}

.feature_cards .polygon:nth-child(2) {
    grid-column: 3 / span 2;
    grid-row: 1/ span 2;
}

.feature_cards .polygon:nth-child(3) {
    grid-column: 5 / span 2;
    grid-row: 1/ span 1;
}

.feature_cards .polygon:last-child {
    grid-column: 5 / span 2;
    grid-row: 2/ span 1;
}

.feature_cards .polygon .card_meta h4 {
    font-size: 30px;
    font-weight: 900;
    line-height: 34px;
    margin-bottom: 25px;
}

.feature_cards .polygon .card_meta p {
    font-size: 15px;
    line-height: 29px;
}

.feature_cards .polygon .card_meta img {
    margin-bottom: 25px;
}

/* Our Features Area */

.features_wrapper {
    display: flex;
    align-items: center;
}

.features_img {
    flex: 620px;
}

.features_img img {
    width: 100%;
}

.features_wrapper .section_head {
    width: 46%;
}

.features_wrapper .section_head p {
    margin-bottom: 20px;
}

.features_wrapper .btn {
    background: var(--title_color);
    color: #fff;
}

/* CTA Form Area */

#form {
    background: var(--btn_color);
    position: relative;
    height: 530px;
}

#form h2 {
    position: absolute;
    top: 175px;
    left: 115px;
    width: 585px;
    font-size: 60px;
    color: #fff;
}

.form_wrapper {
    position: relative;
}

.cta_form {
    position: absolute;
    right: 84px;
    top: -147px;
    width: 450px;
    height: 530px;
    background: url(../img/form_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 35px 25px;
}

.cta_form label,
.cta_form input {
    display: block;
}

.cta_form label {
    font-size: 14px;
    color: #808285;
    margin-bottom: 5px;
}

.cta_form input {
    width: 100%;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #1b1c3117;
    padding: 20px 0 20px 10px;
    margin-bottom: 35px;
}

.cta_form input:focus {
    border-color: var(--text_color);
}

.cta_form .btn {
    width: 100%;
    background: var(--text_color);
    color: #fff;
}

.cta_form .btn:hover {
    color: var(--paragraph_color);
}

#form img[alt="vector 1"] {
    position: absolute;
    left: 0;
    top: 0;
}

#form img[alt="vector 2"] {
    position: absolute;
    left: 0;
    bottom: 0;
}

#form img[alt="Line"] {
    position: absolute;
    left: 304px;
    bottom: 40px;
}

#form .circle_1_4 {
    position: absolute;
    top: -190px;
    right: 45px;
}

/* CTA Area */

.cta_btns {
    width: 30%;
    margin: 0 auto;
}

.cta_btn {
    width: 175px;
    padding: 10px 0;
    margin-right: 10px;
    border: none;
    border-radius: 50px;
    color: #fff;
}

.cta_btn:first-child {
    background: var(--title_color);
}

.cta_btn:last-child {
    background: var(--secondary_btn_color);
    margin-right: 0;
}

.cta_btn i {
    vertical-align: middle;
    margin-right: 5px;
}

/* Footer Area */

.footer_items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.footer_meta {
    width: 16%;
}

.footer_logo {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.footer_logo span {
    font-family: var(--font_semiBold);
}

.square {
    width: 26px;
    height: 26px;
    background: var(--title_color);
}

.footer_info {
    display: inline-block;
    font-size: 16px;
    color: var(--paragraph_color);
    margin-bottom: 25px;
}

.socials {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--title_color);
}

.imp_links {
    width: 43%;
    display: flex;
    justify-content: space-between;
}

.imp_links ul li span,
.footer_cta span {
    display: block;
    font-family: var(--font_semiBold);
    margin-bottom: 15px;
}

.imp_links ul li a {
    display: inline-block;
    text-decoration: none;
    font-family: var(--font_medium);
    font-size: 16px;
    color: #181433;
    margin-bottom: 10px;
}

.footer_cta {
    width: 30%;
}

.footer_cta input {
    width: 76%;
    background: #F9F9F9;
    padding: 15px 10px;
    border: none;
    outline: none;
}

.footer_btn {
    position: relative;
    right: 5px;
    padding: 15px 10px;
    border: none;
    background: #00E1F0;
    color: #fff;
}

.footer_cta p {
    font-family: var(--font_medium);
    font-size: 16px;
    line-height: 26px;
    color: var(--paragraph_color);
    margin-top: 20px;
}

.social_links {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 14px;
    margin-bottom: 40px;
}

.social_links a {
    text-decoration: none;
    padding: 2px 0;
    color: var(--paragraph_color);
    border-bottom: 1px solid;
}

.copyright {
    width: 80%;
    padding: 0 0 35px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 14px;
    color: var(--paragraph_color);
}

.copyright span:nth-child(2),
.copyright span:nth-child(4) {
    font-size: 20px;
}